body {
  margin: 0;
}

.header {
  margin: auto;
  font-family: 'pt_serifbold_italic';
  width: 80%
}

.main-section {
  margin:auto;
  width: 80%
}

.wrapper {
  margin: auto;
  width: 80%
}

.logo, .menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
}

/*.logo {
  padding: 40px 0
  font-family: 'Roboto';
  // font: bold 24px/31px pt_serif, Roboto;
  width: 190px
  height: 35px
  border: dashed 1px red;
}*/


.logo.svg {
  padding: 40px 0;
  font-family: 'Roboto';
  font: bold 24px/31px pt_serif, Roboto;
  width: 190px;
  height: 35px;
  left: 196px;
  top: 40px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, sans-serif;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content:"";
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  color: 0.5;
}

.menu__item:after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:hover {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056EC
}
