.body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.logo {
  position: relative;
  padding: 21px 0;
  padding-left: 46px;
  font: bold 24px/32px pt_serif, Arial, Helvetica, sans-serif;
  }
.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}
.logo__circle_color_dark-blue {
   background: #0056EC;
   border-radius: 50%;
   opacity: .7;
}
.logo__circle_color_blue {
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
  left: 8px;
  top: 56%;
}
.menu {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.menu__item {
  display: block;
  position: relative;
  margin-right: 27px;
  font: 500 18px/21px roboto, Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity.5s;
}
.menu__item_active::after {
    display: block;
    content: '';
    left: 0;
    position: absolute;
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width .5s;
}
.menu__item:hover {
    opacity: .5;
}

.menu__item:hover:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s;
 }

.menu__item:hover:after,.menu__item_active::after{
    opacity: 1;
    width: 100%;
  }
.menu__item:last-child {
    margin-right: 7px;
  }
.main {
  padding: 140px 63% 191px 0;
  background: top 22px right 21px no-repeat url('img/img1366.svg');
  background-position: right 56%;
}
.main__title {
  margin: 0 0 33px 0;
  font: bold 66px/87px pt_serif, Arial, Helvetica, sans-serif;
  color:#000;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
.main__text {
  margin: 0 0 43px 0;
  font: 22px/26px roboto, Arial, Helvetica, sans-serif;
  color:#000;
}
.main__button {
  display: inline-block;
  color:#FFF;
  font: 18px/21px roboto, Arial, Helvetica, sans-serif;
  background: #0056EC;
  padding: 17px 29px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
#checkbox_id {
  opacity: 0;
    }

@media (max-width: 1922px) {
  .header {
      margin-bottom: 79px;
    }
  .logo {
      position: relative;
      padding-left: 41px;
      padding-top: 31px;
  }
    .logo__circle_color_dark-blue {
    left: -2px;
    top: 35%;
  }
  .logo__circle_color_blue {
      left: 5px;
      top: 40%;
    }
    .menu {
      align-items: center;
      margin-right: -474px;
      margin-top: -29px;
  }
  .menu__item {
    margin-right: 27px;
    font: 500 18px/102px 'Roboto';
  }
  .main {
  padding:281px 54% 145px 0px;
  background: top 19px right -2px no-repeat url('img/img1366.svg');
  background-size: 51%;
  }
  .main__title {
    margin: -196px 15px -29px -124px;
    font: bold 66px/85px pt_serif;
    padding: 16px
             29px
             67px
             121px;
  }
  .main__subtitle {
      margin: 5px
              230px
              46px
              0px;
      font: 22px/20px 'Roboto-Regular';
    }
    .main__button {
        display: inline-block;
        font: 23px/23px 'Arial';
        padding: 16px 0px;
    }
}

@media (max-width: 1366px) {
  .header {
      margin-bottom: 79px;
    }
  .logo {
      position: relative;
      padding-left: 120px;
      padding-top: 31px;
  }
    .logo__circle_color_dark-blue {
    left: 77px;
    top: 35%;
  }
  .logo__circle_color_blue {
      left: 85px;
      top: 40%;
    }
    .menu {
      margin-right: -132px;
      margin-top: -29px;
  }
  .menu__item {
    margin-right: 23px;
    font: 500 15px/102px 'Roboto';
  }
  .main {
  padding:64px 54% 90px 75px;
  background: top -23px right 74px no-repeat url('img/img1366.svg');
  }
  .main__title {
    margin: -115px 1px 29px -85px;
    font: bold 50px/64px pt_serif;
    padding: 45px
             22px
             9px
             86px;
  }
  .main__subtitle {
      margin: 34px
              50px
              42px
              0px;
      font: 18px/20px 'Roboto-Regular';
    }
    .main__button {
        font: 14px/10px 'Roboto-Regular';
        padding: 16px 20px;
    }
}

@media (max-width:1024px) {
  .wrapper {
    margin: auto;
    width: 100%;
  }
  .header {
    margin-bottom: 78px;
  }
  .logo {
     padding-left: 81px;
  }
  .logo__circle_color_dark-blue {
       left: 38px;
  }
  .logo__circle_color_blue {
     left: 45px;
  }
  .menu {
     margin-right: -188px;
  }
  .main {
       padding: 64px
                51%
                90px
                38px;
       background: top -24px right 21px no-repeat url('img/img1366.svg');
   }
   .main__title {
       padding: 47px
              22px
              7px
              86px;
   }
   .main__subtitle {
     margin: 35px
             87px
             41px
             1px;
   }
}

@media(max-width:768px){
  .body{
    margin: 0;
  }
  .wrapper {
    margin: auto;
    width: 87%;
 }
 .logo {
   display: flex;
   flex-direction: row;
   justify-content: center;
   color: rgba(0,0,0,0);
 }
 .logo__circle {
   position: absolute;
   left: -7px;
   top: 36%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
 }
 .logo__circle_color_dark-blue {
    background: #0056EC;
    border-radius: 50%;
    opacity: .7;
 }
 .logo__circle_color_blue {
   background: #C8DBFB;
   border-radius: 50%;
   opacity: .7;
   left: 0px;
   top: 44%;
 }
 .menu {
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: white;
  height: 100vh;
  visibility: hidden;
  justify-content: space-between;
 }
 .menu__item{
   display: inline-block;
   position: relative;
   margin-bottom: 30px;
   font: 500 30px/35px roboto, Arial, Helvetica, sans-serif;
   text-decoration: none;
   transition: opacity.5s;
 }
 .menu__item:last-child {

}
 .burger__menu{
   position: relative;
   width: 25px;
   height: 17px;
   cursor: pointer;
   margin-top: 24px;
   margin-right: -7px;
 }
 .burger__line{
   position: absolute;
   display: block;
   width: 100%;
   height: 3px;
   background: #0056EC;
   top: 7px;
 }
 .burger__menu::before,
 .burger__menu::after{
   content: "";
   width: 100%;
   height: 3px;
   background: #0056EC;
   position: absolute;
   transition: .3s ease;
 }
 .burger__menu::before{
   top: 0;
 }
 .burger__menu::after{
   bottom: 0;
 }
 #checkbox_id:checked ~ .menu {
   display: flex;
   visibility: visible;
   height: 100vh;
   position: fixed;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   margin-left: -12px;
 }
 #checkbox_id:checked ~ .menu > .menu__item {
   color: #000;
 }
 /*анимация бургера*/
 #checkbox_id:checked ~ label > .burger__menu > .burger__line{
   display:  none;
 }
 /*верхняя*/
 #checkbox_id:checked ~ label > .burger__menu::before {
   top: 7px;
   transform: rotate(45deg);
 }
 /*нижняя*/
 #checkbox_id:checked ~ label > .burger__menu::after {
   top: 7px;
   transform: rotate(-45deg);;
 }
 #checkbox_id {
   //display: none;
  opacity: 0;
 }
 .header{
   margin-bottom: -6.5px;
  }
 .main {
   text-align: center;
   padding: 105% 0px 0px 7px;
   background-size: 90%;
   background-position: top center;
  }
 .main__title {
 padding: 49px
          25px
          1px
          107px;
 font: bold 30px/40px pt_serif, arial, helvetica, sans-serif;
  }
.main__subtitle {
  margin: 0px
          29px
          21px
          30px;
  font: 15px/20px 'Roboto-Regular';
}
 .main__text {
 margin-bottom: 25px;
 font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }
 .main__button {
 padding: 14px 19px;
 font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}
