body {
  margin: 0;
}

.header {
  margin: auto;
  font-family: 'pt_serifbold_italic';
  width: 80%
}

.main-section {
  margin:auto;
  width: 80%
}

.wrapper {
  margin: auto;
  width: 80%
}

.logo, .menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
}

/*.logo {
  padding: 40px 0
  font-family: 'Roboto';
  // font: bold 24px/31px pt_serif, Roboto;
  width: 190px
  height: 35px
  border: dashed 1px red;
}*/

<img src="img/logo.svg">
.logo.svg {
  padding: 40px 0;
  font-family: 'Roboto';
  // font: bold 24px/31px pt_serif, Roboto;
  width: 190px;
  height: 35px;
  left: 196px;
  top: 40px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px
}

.menu__item:last-child {
  padding-right: 0;
}
